<div class="col-md-8 col-xs-12">
  <div class="text-center">
    <h3>商品编辑</h3>
    <hr>
  </div>
  <%= simple_form_for [:admin, @product] do |f| %>
    <%= f.input :title,:label => "茶叶名称" %>
    <%= f.input :description, :label => "详细描述" %>
    <%= f.input :price, :label => "单价" %>
    <%= f.input :quantity, :label => "库存" %>
    <%= f.label "茶叶品种"%><br>
    <%= f.select(:category_id,@categories) %><br><br>
    <% if @product.image.present? %>
      <%= f.label "当前图片" %><br>
      <%= image_tag(@product.image.thumb.url) %>
    <% end %>
    <%= f.input :image, as: :file, :label => "上传图片"%>
    <%= f.submit "确定", data:{ disable_with: "Submitting..."} %>
  <% end %>
</div>
