  <div class="col-md-8 col-xs-12 ">
    <div class="text-center">
      <h3>商品上架</h3>
      <hr>
    </div>
    <%= simple_form_for [:admin,@product] do |f| %>
      <div class="group">
        <%= f.input :title, label: "商品名称" %>
      </div>
      <div class="group">
        <%= f.input :description, label: "商品描述" %>
      </div>
      <div class="group">
        <%= f.input :price, :label => "商品价格" %>
      </div>
      <div class="group">
        <%= f.input :quantity, label: "库存" %>
      </div>
      <div class="group">
        <%= f.label "茶叶品种"%><br>
        <%= f.select(:category_id, @categories)%>
        <!-- <%= select_tag(:category_id, options_for_select(Category.all.map{|c| [c.id,c.name]}), :prompt => "类别") %> -->
      </div>
      <div class="group">
        <%= f.input :image, as: :file %>
      </div>
      <%= f.submit "Submit", data: {disable_with: "Submitting..."} %>
    <% end %>
  </div>
