<div class="header_placeholder h80"></div>
<div class="header">
  <div class="header-content clearfix">
    <div class="logo">
      <%= link_to("茗香阁", products_path )%>
    </div>
    <div class="search-bar">
      <%= render "products/search_bar"%>
    </div>
    <div class="cart-bar">
      <div class="cart">
        <%= link_to carts_path do %>
           <i class="fa fa-shopping-cart fa-lg"></i>购物车
          <span><%= current_cart.cartitems.count %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="category-bar">
  <span><%= link_to("全部商品", products_path, class:"btn btn-secondary")%></span>
  <%  Category.all.each do |category| %>
    <span><%= link_to(category.name, products_path(category: category.id), class: "btn btn-secondary") %> </span>
  <% end %>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3 col-xs-6 text-center" style="margin-bottom:20px">
      <%= link_to product_path(product) do %>

        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail product-picture")%>
        <% else %>
          <%= image_tag("https://ww4.sinaimg.cn/large/006tNc79ly1fe2owhk361j307c05bmx4.jpg", width: 205 , height: 205 , class: "thumbnail product-picture") %>
        <% end %>

      <% end %>
      <div class="">
        <% if !product.is_favorited?(current_user) %>
          <%= link_to("",add_to_favorite_product_path(product),method: :post, class: "fa fa-heart fa-lg") %>
        <% else %>
          <%= link_to("", quit_favorite_product_path(product),method: :post,  class: "fa fa-heart fa-lg", style: "color:red;") %>
        <% end %>

      <%= product.title %> ¥ <%= product.price %>
      </div>
    </div>
  <% end %>

</div>
