<div class="row">

  <% @products.each do |product| %>
    <div class="col-md-3 col-xs-6 text-center" style="margin-bottom:20px">
      <%= link_to product_path(product) do %>

        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail product-picture")%>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail product-picture") %>
        <% end %>

      <% end %>
      <div class="">
        <% if !product.is_favorited?(current_user) %>
          <%= link_to("",add_to_favorite_product_path(product),method: :post, class: "fa fa-heart") %>
        <% else %>
          <%= link_to("", quit_favorite_product_path(product),method: :post,  class: "fa fa-heart", style: "color:red;") %>
        <% end %>

      <%= product.title %> ¥ <%= product.price %>
      </div>
    </div>
  <% end %>

</div>
