<div class="col-md-6 col-xs-12">
  <% if @product.image.present? %>
    <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
  <% else %>
    <%= image_tag("https://ww4.sinaimg.cn/large/006tNc79ly1fe2owhk361j307c05bmx4.jpg", class: "thumbnail") %>
  <% end %>
</div>
<div class="col-md-6 col-xs-12">
  <h3><%= @product.title %></h3>
  <p style="height:100px;"><%= @product.description %></p>
  <div class="pull-right">
    <%= link_to("加入购物车",add_to_cart_product_path(@product),method: :post, class: "btn btn-danger btn-lg ") %>
  </div>
</div>
