
<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class= "navbar-brand" href="/">SuperStrore</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to("商品首页", products_path) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to(content_tag(:i, "我的收藏", class: "fa fa-heart fa-md"), products_path(:favorite => "yes"))%> </li>
        <li>
          <%= link_to cart_path(current_cart) do %>
            购物车 <i class="fa fa-shopping-cart fa-lg"></i>
            (<%= current_cart.cartitems.count %>)
          <% end %>
        </li>
        <% if !current_user.present? %>
          <li>
            <%= link_to("注册", new_user_registration_path) %>
          </li>
          <li>
            <%= link_to(content_tag(:i,"登录", class: "fa fa-sign-in"), new_user_session_path) %>
          </li>
        <% else %>
          <li class="drodown">
             <a href="#" class="dropdown-toggle" data-toggle= "dropdown">
               你好, <%= current_user.email %>
               <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <li><%= link_to("管理员", admin_products_path,) %></li>
               <li class="divider"></li>
               <li><%= link_to(content_tag(:i, "登出",class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
             </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</nav>
