<!DOCTYPE html>
<html>
  <head>
    <title>SuperStore后台</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="min-height:100%">

      <%= render "common/navbar" %>

    <div class="container-fluid layout-admin">
      <%= render "common/flashes"%>
      <div class="col-md-2 col-xs-4 text-center">
        <%= link_to("后台列表", admin_products_path, class: "btn btn-primary sidebar")%>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
