<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title>SuperStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="height:100%;">

      <%= render "common/navbar" %>
    <div class="container-fluid layout-application">
      <%= render "common/flashes"%>
      <%= yield %>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
