<!DOCTYPE html>
<html>
  <head>
    <title>SuperStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="min-height:100%">

      <%= render "common/navbar" %>

    <div class="container-fluid" style="padding-bottom:100px;margin-top:70px; margin-bottom:-100px">
      <%= render "common/flashes"%>
      <%= yield %>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
