<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title>信阳毛尖</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="height:100%;">
    <div class=" layout-application clearfix">

      <%= render "common/navbar" %>
      <%= render "common/flashes"%>
      <%= yield %>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
