<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title>SuperStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="height:100%;">

      <%= render "common/navbar" %>

    <div class="container-fluid layout-application">
      <div class="">
        <%  Category.all.each do |category| %>
          <span><%= link_to(category.name, products_path(category: category.id), class: "btn btn-secondary") %> </span>
        <% end %>
      </div>
      <%= render "common/flashes"%>
      <%= yield %>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
